<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <style>
        div{
            height: auto;
            width:fit-content;
            margin: auto;
            padding: auto;
            border-radius: 5px;
            border: medium solid blue;
            align-content: center;
        }
        form{   
            padding:inherit;
            margin: 5px;
            
        }
    </style>
</head>
<body>
    <%- include('index') %>
    <div>
    <form action="/processing" target="blank" method="post">
        <label for="eml">Name:</label>
        <input type="text" id="sname" name="sname" required><br><br>
        <label for="pwd">Gender:</label>
        <input type="text" id="gen" name="gen" required><br><br>
        <input type="submit" value="Submit">
    </form>
    </div>
</body>
</html>