<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome <%= title %></p>
    <nav>
    <a href="/home">Home</a>&nbsp;
    <a href="/form">Form</a>&nbsp;
    <a href="/contact">Contact</a>&nbsp;
    <a href="/about">About</a>&nbsp;
  </nav>
  </body>
</html>
